Repository fadhelmurphy/fadhelmurphy.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, tsc --noEmit --pretty

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "eslint"],
  "**/*.ts": "tsc --noEmit --pretty",
  "!(./.lintstagedrc)*.json": ["prettier --write"]
}

feat: revamp header homepage mobile
  components/background/blue-gradient-home.tsx
  components/header/new-homepage-header.tsx
  components/logo-slider.tsx
  components/mylogo/mylogo.tsx
  components/portoCard.tsx
  consts/logo.tsx
  consts/portolist.tsx
  containers/portoList.tsx
  src/assets/global.css
  src/pages/index.astro
Due: eslint --fix, eslint

chore: remove logo
  consts/logo.tsx
Due: eslint --fix, eslint

chore: change to v4 actions
  .github/workflows/deploy-astro-gatsby.yml
Due: none

refactor: image and aos
  components/mylogo/mylogo.tsx
  containers/layout.tsx
  containers/navbar/navbar.tsx
  package.json
  yarn.lock
Due: eslint --fix, eslint

refactor: remove confetti
  src/pages/index.astro
Due: none

refactor: reduce complexity div header with css
  astro.config.mjs
  components/header/new-homepage-header.tsx
  package-lock.json
  package.json
  src/assets/global.css
  yarn.lock
Due: eslint --fix, eslint

refactor: contact btn
  src/pages/index.astro
Due: none

chore: env for SEO purpose
  .env.local
  astro.config.mjs
  lint-staged.config.js
  package.json
Due: eslint --fix, eslint

chore: env for SEO purpose
  lint-staged.config.js
Due: eslint --fix, eslint

chore: env for SEO purpose
  src/env.d.ts
  tsconfig.json
Due: eslint --fix, eslint, tsc --noEmit --pretty

chore: package.json
  package.json
  tsconfig.json
Due: none

chore: env
  src/env.d.ts
Due: eslint --fix, eslint, tsc --noEmit --pretty

chore: env
  .github/workflows/deploy-astro-gatsby.yml
Due: none

chore: env
  .github/workflows/deploy-astro-gatsby.yml
  astro.config.mjs
Due: none

chore: SEO
  containers/article.astro
  public/google0072bc605aaff5d9.html
Due: none

chore: env
  astro.config.mjs
Due: none

chore: wording open to work
  components/header/new-homepage-header.tsx
  consts/timeline.tsx
Due: eslint --fix, eslint

feat: update job desc
  components/readmore-paragraph.tsx
  components/timeline/default.tsx
  consts/timeline.tsx
  containers/layout.tsx
  containers/sections/section.module.scss
  package.json
Due: eslint --fix, eslint

feat: update job desc
  components/timeline/default.tsx
  consts/timeline.tsx
Due: eslint --fix, eslint

feat: update header
  .yarn/install-state.gz
  .yarnrc.yml
  consts/timeline.tsx
Due: eslint --fix, eslint

chore: remove packagemanager package.json
  package.json
Due: none
