Repository fadhelmurphy/fadhelmurphy.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, tsc --noEmit --pretty

article: optimize image component library
  src/pages/blog/buat-component-library/index.mdx
Due: none

article: update component library article
  consts/logo.tsx
  consts/portolist.tsx
  src/pages/blog/buat-component-library/index.mdx
  src/pages/pengaruh-musik-punk/index.mdx
Due: eslint --fix, eslint

article: update component library article
  src/pages/blog/buat-component-library/index.mdx
Due: none

article: update UI Library Component
  src/pages/blog/buat-component-library/img/current-dir-import-local.png
  src/pages/blog/buat-component-library/img/package-json-import-local.png
  src/pages/blog/buat-component-library/img/result-import-local.png
  src/pages/blog/buat-component-library/index.mdx
Due: none

chore: update year
  consts/timeline.tsx
Due: eslint --fix, eslint

feat: update portocard
  components/timeline/education.tsx
  consts/portolist.tsx
  src/assets/global.css
Due: eslint --fix, eslint

feat: update portocard
  src/assets/global.css
Due: none

chore: update assets
  src/assets/global.css
  src/assets/img/home/bg-m.png
Due: none

chore: change shadow color
  src/assets/global.css
Due: none

feat: update menu
  components/mylogo/mylogo.tsx
  consts/navbar.ts
  containers/navbar/navbar.css
  containers/navbar/navbar.tsx
  src/assets/img/menu/logo.png
  src/pages/index.astro
Due: eslint --fix, eslint, tsc --noEmit --pretty

feat: add dynamic menu
  components/mylogo/mylogo.tsx
  containers/navbar/navbar.css
Due: eslint --fix, eslint

feat: update timeline
  consts/timeline.tsx
  yarn.lock
Due: eslint --fix, eslint

feat: update education and menu animation
  components/mylogo/mylogo.tsx
  components/timeline/education.tsx
  containers/navbar/navbar.css
  containers/navbar/navbar.tsx
  containers/sections/education.tsx
  containers/sections/section.module.scss
  src/pages/index.astro
  tailwind.config.cjs
  yarn.lock
Due: eslint --fix, eslint

feat: update education and menu animation
  consts/timeline.tsx
Due: eslint --fix, eslint

chore: ci/cd
  .github/workflows/deploy-astro-gatsby.yml
Due: none

feat: update education
  components/timeline/education.tsx
  containers/sections/section.module.scss
  tailwind.config.cjs
Due: eslint --fix, eslint

feat: update education
  containers/sections/education.tsx
Due: eslint --fix, eslint

feat: update education
  components/timeline/education.tsx
Due: eslint --fix, eslint

feat: update navbar
  containers/navbar/navbar.css
Due: none

feat: remove island
  components/timeline/index.tsx
  containers/layout.tsx
  package-lock.json
  package.json
  yarn.lock
Due: eslint --fix, eslint

fix: increase accessbility score
  astro.config.mjs
  components/mylogo/mylogo.tsx
  components/timeline/education.tsx
  containers/navbar/navbar.tsx
  package-lock.json
  package.json
  src/assets/global.css
  src/pages/index.astro
  yarn.lock
Due: eslint --fix, eslint

feat: update skill
  consts/logo.tsx
Due: eslint --fix, eslint

style: update font size and shadow
  components/timeline/education.tsx
  containers/sections/portfolio.tsx
  src/assets/global.css
  tailwind.config.cjs
Due: eslint --fix, eslint

style: margin and shadow
  components/timeline/education.tsx
  containers/sections/education.tsx
  containers/sections/section.module.scss
  src/assets/global.css
  tailwind.config.cjs
Due: eslint --fix, eslint

style: change card to stack
  components/timeline/education.tsx
  src/assets/global.css
  tailwind.config.cjs
Due: eslint --fix, eslint

chore: wording
  consts/timeline.tsx
  src/pages/blog/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
Due: eslint --fix, eslint

style: update blog list style
  components/header/blog-list.tsx
  components/wave/index.tsx
  components/wave/wave.css
  src/pages/blog/[...page].astro
Due: eslint --fix, eslint

style: update blog list style
  src/pages/blog/[...page].astro
Due: none

style: update styling blog list
  components/badge.tsx
  components/timeline/education.tsx
  components/types/badge.ts
  containers/blogList/blogList.css
  containers/blogList/index.tsx
  src/pages/blog/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
Due: eslint --fix, eslint, tsc --noEmit --pretty

style: update styling blog list
  containers/blogList/blogList.css
Due: none

style: update styling blog list
  components/wave/index.tsx
Due: eslint --fix, eslint

chore: wording
  consts/blog.tsx
  consts/types/blog-types.ts
  src/pages/blog/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
Due: eslint --fix, eslint, tsc --noEmit --pretty

chore: update timeline
  consts/timeline.tsx
Due: eslint --fix, eslint

revamp: v3 init
  components/background/blue-gradient-home.tsx
  components/header/homepage.tsx
  components/header/index.tsx
  components/header/new-homepage-header.tsx
  components/logo-slider.tsx
  containers/top-header-menu.tsx
  lib/utils.ts
  package-lock.json
  package.json
  src/assets/global.css
  src/pages/index.astro
  tailwind.config.cjs
  tsconfig.json
  yarn.lock
Due: eslint --fix, eslint, tsc --noEmit --pretty

feat: revamp header homepage desktop
  components/background/blue-gradient-home.tsx
  components/header/new-homepage-header.tsx
  consts/logo.tsx
  src/assets/global.css
  src/pages/index.astro
Due: eslint --fix, eslint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
  tsc --noEmit --pretty: any of: **/*.ts
