Repository fadhelmurphy/fadhelmurphy.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, tsc --noEmit --pretty

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "eslint"],
  "**/*.ts": "tsc --noEmit --pretty",
  "!(./.lintstagedrc)*.json": ["prettier --write"]
}

fix: bg education mobile
  containers/sections/education.tsx
  containers/sections/section.module.scss
  src/pages/index.astro
  tailwind.config.cjs
Due: eslint --fix, eslint

style: change bg portfolio
  containers/sections/portfolio.tsx
  containers/sections/section.module.scss
  src/assets/global.css
Due: eslint --fix, eslint

feat: implement AOS.js
  components/Button.astro
  components/header.tsx
  components/portoCard.tsx
  components/timeline/default.tsx
  components/timeline/education.tsx
  containers/layout.tsx
  containers/sections/default.tsx
  containers/sections/portfolio.tsx
  src/assets/global.css
  src/pages/index.astro
Due: eslint --fix, eslint

fix: AOS.js
  containers/layout.tsx
  src/pages/index.astro
Due: eslint --fix, eslint

fix: AOS.js
  containers/sections/education.tsx
  containers/sections/section.module.scss
  src/pages/index.astro
Due: eslint --fix, eslint

fix: typo
  consts/timeline.tsx
Due: eslint --fix, eslint

style: change bg-porto
  public/home/bg-porto.png
Due: none

style: update bg mweb homepage & blog styling
  components/header/blog.tsx
  components/header/homepage.tsx
  components/header/index.tsx
  components/header/types.ts
  components/logo-slider.tsx
  containers/portoList.tsx
  public/blog/blog-bg-m.png
  public/blog/blog-bg.png
  public/home/Artboard 1.png
  public/home/bg-m.png
  src/assets/global.css
  src/pages/blog/sebuah-blog.mdx
  src/pages/index.astro
  src/pages/markdown-page.mdx
  tsconfig.json
Due: eslint --fix, eslint, tsc --noEmit --pretty

style: update bg mweb homepage
  public/home/bg-m.png
Due: none

chore: implement tailwindcss/typography
  package.json
  src/pages/blog/sebuah-blog.mdx
  src/pages/blog/typography.mdx
  tailwind.config.cjs
  yarn.lock
Due: none

chore: remove useEffect sucks
  containers/sections/education.tsx
  containers/sections/portfolio.tsx
  containers/sections/section.module.scss
Due: eslint --fix, eslint

ci: change versioning condition
  .github/workflows/deploy-astro-gatsby.yml
Due: none

ci: fix release condition
  .github/workflows/deploy-astro-gatsby.yml
Due: none

chore: implement image processing
  components/header/blog.tsx
  components/header/homepage.tsx
  consts/logo.tsx
  consts/portolist.tsx
  containers/sections/index.tsx
  containers/types/sections.type.tsx
  public/home/Artboard 1.png
  src/assets/img/blog/blog-bg-m.png
  src/assets/img/blog/blog-bg.png
  src/assets/img/home/bg-m.png
  src/assets/img/home/bg.png
  src/assets/img/home/project/bisacpns-2020.png
  src/assets/img/home/project/classification.jpg
  src/assets/img/home/project/dashboard-desktop.png
  src/assets/img/home/project/eno.png
  src/assets/img/home/project/istih.png
  src/assets/img/home/project/kemenkes.png
  src/assets/img/home/project/personal-web.png
  src/assets/img/home/project/tour-travel.png
  src/assets/img/home/project/warehouse.jpg
  src/assets/img/home/stack-slider/docker.png
  src/assets/img/home/stack-slider/flutter.png
  src/assets/img/home/stack-slider/gatsby-icon.png
  src/assets/img/home/stack-slider/laravel.png
  src/assets/img/home/stack-slider/mysql.png
  src/assets/img/home/stack-slider/nextjs-icon.png
  src/assets/img/home/stack-slider/nginx.png
  src/assets/img/home/stack-slider/reactjs.png
  src/assets/img/home/stack-slider/redux-logo.png
  src/assets/img/home/stack-slider/sklearn-logo.png
  src/assets/img/home/stack-slider/tensorflow-logo.png
  src/assets/img/home/stack-slider/webpack.png
  src/pages/blog/typography/index.mdx
  tsconfig.json
Due: eslint --fix, eslint

fix: container breakpoint
  components/navbar.tsx
  src/assets/global.css
  tailwind.config.cjs
Due: eslint --fix, eslint

style: portfolio height
  components/header/homepage.tsx
  components/timeline/education.tsx
  containers/sections/portfolio.tsx
Due: eslint --fix, eslint

style: change bg blog and create component badge
  components/badge.tsx
  components/header/blog.tsx
  components/timeline/default.tsx
  components/timeline/education.tsx
  components/types/badge.ts
  src/assets/img/blog/blog-bg-m.png
  src/assets/img/blog/blog-bg.png
  src/pages/blog/typography/index.mdx
Due: eslint --fix, eslint, tsc --noEmit --pretty

style: change bg blog and create component badge
  .husky/pre-commit
  .husky/pre-push
Due: none

feat: add bloglist page
  components/blogCard.tsx
  components/header/blog-list.tsx
  components/header/blog.tsx
  components/header/index.tsx
  components/header/types.ts
  containers/layout.tsx
  global.d.ts
  helpers/utils.ts
  src/assets/global.css
  src/assets/img/blog/blog-list-bg-m.jpg
  src/assets/img/blog/blog-list-bg.jpg
  src/pages/blog.astro
  src/pages/blog/buat-component-library/index.mdx
  src/pages/blog/pengaruh-musik-punk/index.mdx
  src/pages/typography/index.mdx
  tsconfig.json
Due: eslint --fix, eslint, tsc --noEmit --pretty

style: update blog list style
  components/header/blog-list.tsx
  src/assets/global.css
  src/pages/blog.astro
Due: eslint --fix, eslint

feat: implement pagination & tags page
  src/pages/blog/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
Due: none

feat: update pagination
  src/pages/blog/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
Due: none

feat: update pagination
  lint-staged.config.js
Due: eslint --fix, eslint

feat: add navbar alpha
  components/hamburger/hamburger.css
  components/hamburger/hamburger.tsx
  components/header/blog-list.tsx
  components/header/blog.tsx
  components/header/homepage.tsx
  containers/navbar/navbar.css
  containers/navbar/navbar.tsx
  src/pages/blog/[...page].astro
  src/pages/blog/buat-component-library/index.mdx
  src/pages/blog/pengaruh-musik-punk/index.mdx
  src/pages/index.astro
Due: eslint --fix, eslint

fix: client load navbar
  src/pages/index.astro
Due: none

fix: client load navbar
  lint-staged.config.js
Due: eslint --fix, eslint

style: change bg mweb homepage
  public/home/bg-m.png
Due: none

style: update menu & background
  components/header/blog.tsx
  consts/navbar.ts
  consts/types/logo.type.ts
  consts/types/logo.type.tsx
  consts/types/navbar.type.ts
  consts/types/template.type.tsx
  consts/types/timeline.type.ts
  consts/types/timeline.type.tsx
  containers/navbar/navbar.css
  containers/navbar/navbar.tsx
Due: eslint --fix, eslint, tsc --noEmit --pretty

style: change background
  src/assets/img/home/bg-m.png
Due: none

fix: mweb background
  components/header/blog-list.tsx
  src/pages/blog/tags/[tag]/[...page].astro
Due: eslint --fix, eslint

fix: load navbar
  components/header/blog-list.tsx
  components/header/blog.tsx
  components/header/homepage.tsx
  src/pages/blog/[...page].astro
  src/pages/blog/buat-component-library/index.mdx
  src/pages/blog/pengaruh-musik-punk/index.mdx
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/index.astro
Due: eslint --fix, eslint

fix: load navbar
  src/pages/index.astro
Due: none

feat: add current active navbar
  components/header/blog.tsx
  containers/navbar/navbar.css
  containers/navbar/navbar.tsx
  src/pages/blog/[...page].astro
  src/pages/blog/buat-component-library/index.mdx
  src/pages/blog/pengaruh-musik-punk/index.mdx
  src/pages/blog/tags/[tag]/[...page].astro
Due: eslint --fix, eslint

feat: add current active navbar
  consts/navbar.ts
  containers/navbar/navbar.tsx
Due: eslint --fix, eslint, tsc --noEmit --pretty

feat: update background homepage mweb
  src/assets/img/home/bg-m.png
Due: none

feat: update typography
  components/timeline/default.tsx
  containers/sections/education.tsx
Due: eslint --fix, eslint

style: br experience section
  containers/sections/section.module.scss
Due: none

style: update experience
  components/timeline/default.tsx
  consts/timeline.tsx
Due: eslint --fix, eslint
